{% extends "layout.html" %}
{% block body %}

<div class="block1">
<h1>Welcome to Matsuo</h1>
  <p>
    {% if filename %}
      <img src="{{ url_for('send_file', filename=filename) }}">
    {% else %}
      <h2>"Please submit a picture!"</h2>
    {% endif %}
    {% if haiku %}
      {{haiku}}
    {% endif %}
  </p>
  <p>
    <form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/">
      <input type="submit" name='submit' value="Upload">
    </form>
  </p>

  <p>
      <input type="submit" name="gen" value="Generate" >
  </p>


</div>
{% endblock %}
